.dark-liver {
    background: #50514f;
    color: rgba(255, 255, 255, 0.7);
}
.dark-liver:hover {
    color: rgba(255, 255, 255, 0.9);
}

.sunset-orange {
    background: #f25f5c;
    color: rgba(255, 255, 255, 0.7);
}

.sunset-orange:hover {
    color: rgba(255, 255, 255, 0.9);
}

.mustard {
    background: #ffe066;
}
.mustard:hover {
    color: rgba(31, 45, 61, 0.9);
}

.lapis-lazuli {
    background: #247ba0;
    color: rgba(255, 255, 255, 0.7);
}
.lapis-lazuli:hover {
    color: rgba(255, 255, 255, 0.9);
}

.green-sheen {
    background: #70c1b3;
}
.green-sheen:hover {
    color: rgba(31, 45, 61, 0.9);
}


body {
    color: rgba(31, 45, 61, 0.7);
    background-color:  hsl(0, 0%, 96%) ;
}
html,
body {
 height: 100%;
}

.main-container {
    top: 80px;

}

.title-container {
    margin-bottom: 60px;
}

#hero-section {
    background: hsl(0, 0%, 86%);
}

.navbar-title {
    color: hsl(0, 0%, 48%) !important;
}

a {
    text-decoration: none !important;
}